<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Search Page | GuideSphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <script>
        function navigateTob12_homepage() {
            // Redirect to homepage route
            window.location.href = "/";
        }

        function navigateTob12_ytsearchpage() {
            // Redirect to coursesearchpage route
            window.location.href = "{{ url_for('b12_ytsearchpage') }}";
        }

        function navigateTob12_booksearchpage() {
            // Redirect to coursesearchpage route
            window.location.href = "{{ url_for('b12_booksearchpage') }}";
        }

        function navigateTob12_websearchpage() {
            // Redirect to coursesearchpage route
            window.location.href = "{{ url_for('b12_websearchpage') }}";
        }
    </script>
</head>
<body>
    <div class="navbar">
        <div class="navbarsub1">
            <h1 style="margin-top: 2%;">GuideSphere</h1>
        </div>
        <div class="navbarsub2">
            <a href="#" class="home-button" onclick="navigateTob12_homepage()">Home</a>
            <div class="switch-buttons">
                <a href="#" class="active" onclick="navigateTob12_ytsearchpage()">Youtube</a>
                <a href="#" onclick="navigateTob12_booksearchpage()">Books</a>
                <a href="#" onclick="navigateTob12_websearchpage()">Websites</a>
            </div>
            <form action="{{ url_for('b12_searchresults') }}" method="GET" class="search-form">
                <input name="keyword" placeholder="Search here" required>
                <input type="hidden" name="pageid" value="1">
                <button type="submit">Search</button>
            </form>
            <button class="get-started" onclick="">My Profile</button>
        </div>
    </div>

    <!-- Latest Youtube Videos Section -->
    <h2 style="padding-left: 5%; margin-top: 7%;">Newly Added</h2>
    <div class="items-container">
        <div class="items-list">
            {% for item in recent_yts_list %}
                <div class="item">
                    <a href="{{ url_for('b12_ytdetailspage', title=item['yt_title']) }}">
                        <img src="{{ item['yt_img'] }}" alt="{{ item['yt_title'] }}">
                    </a>
                    <h3>{{ item['yt_title'] }}</h3>
                    <p>Duration: {{ item['yt_duration'] }}</p>    
                </div> 
            {% endfor %}
        </div>
    </div>

    <!-- Recommended Youtube Vidoes Section -->
    <h2 style="padding-left: 5%;">Suggested For You</h2>
    <div class="items-container">
        <div class="items-list">
            {% for item in personalized_yt_recommendations_list %}
                <div class="item">
                    <a href="{{ url_for('b12_ytdetailspage', title=item['yt_title']) }}">
                        <img src="{{ item['yt_img'] }}" alt="{{ item['yt_title'] }}">
                    </a>
                    <h3>{{ item['yt_title'] }}</h3>
                    <p>Duration: {{ item['yt_duration'] }}</p>
                </div> 
            {% endfor %}
        </div>
    </div>

    <!-- Real Numbers Related Youtube Vidoes Section -->
    <h2 style="padding-left: 5%;">Real Numbers</h2>
    <div class="items-container">
        <div class="items-list">
            {% for item in real_numbers_yts_list %}
                <div class="item">
                    <a href="{{ url_for('b12_ytdetailspage', title=item['yt_title']) }}">
                        <img src="{{ item['yt_img'] }}" alt="{{ item['yt_title'] }}">
                    </a>
                    <h3>{{ item['yt_title'] }}</h3>
                    <p>Duration: {{ item['yt_duration'] }}</p>
                </div> 
            {% endfor %}
        </div>
    </div>

    <!-- Ecology Related Youtube Vidoes Section -->
    <h2 style="padding-left: 5%;">Ecology</h2>
    <div class="items-container">
        <div class="items-list">
            {% for item in ecology_yts_list %}
                <div class="item">
                    <a href="{{ url_for('b12_ytdetailspage', title=item['yt_title']) }}">
                        <img src="{{ item['yt_img'] }}" alt="{{ item['yt_title'] }}">
                    </a>
                    <h3>{{ item['yt_title'] }}</h3>
                    <p>Duration: {{ item['yt_duration'] }}</p>
                </div> 
            {% endfor %}
        </div>
    </div>

    <!-- Electricity Related Youtube Vidoes Section -->
    <h2 style="padding-left: 5%;">Electricity</h2>
    <div class="items-container">
        <div class="items-list">
            {% for item in electricity_yts_list %}
                <div class="item">
                    <a href="{{ url_for('b12_ytdetailspage', title=item['yt_title']) }}">
                        <img src="{{ item['yt_img'] }}" alt="{{ item['yt_title'] }}">
                    </a>
                    <h3>{{ item['yt_title'] }}</h3>
                    <p>Duration: {{ item['yt_duration'] }}</p>
                </div> 
            {% endfor %}
        </div>
    </div>
</body>
</html>