<!DOCTYPE html>
<html>
    <head>
        <title>Course Search Page | GuideSphere</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
        <script>
            function navigateTohomepage() {
                // Redirect to homepage route
                window.location.href = "/";
            }

            function navigateTocoursesearchpage() {
                // Redirect to coursesearchpage route
                window.location.href = "{{ url_for('coursesearchpage') }}";
            }

            function navigateTobooksearchpage() {
                // Redirect to coursesearchpage route
                window.location.href = "{{ url_for('booksearchpage') }}";
            }

            function navigateTojobsearchpage() {
                // Redirect to coursesearchpage route
                window.location.href = "{{ url_for('jobsearchpage') }}";
            }
        </script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbarsub1">
                <h1 style="margin-top: 2%;">GuideSphere</h1>
            </div>
            <div class="navbarsub2">
                <a href="#" class="home-button" onclick="navigateTohomepage()">Home</a>
                <div class="switch-buttons">
                    <a href="#" class="active" onclick="navigateTocoursesearchpage()">Courses</a>
                    <a href="#" onclick="navigateTobooksearchpage()">Books</a>
                    <a href="#" onclick="navigateTojobsearchpage()">Jobs</a>
                </div>
                <form action="{{ url_for('searchresults') }}" method="GET" class="search-form">
                    <input name="keyword" placeholder="Search here" required>
                    <input type="hidden" name="pageid" value="1">
                    <button type="submit">Search</button>
                </form>
                <button class="get-started">My Profile</button>
            </div>
        </div>

        <!-- Latest Courses Section -->
        <h2 style="padding-left: 5%; margin-top: 7%;">Newly Added Courses</h2>
        <div class="items-container">
            <div class="items-list">
                {% for item in recent_courses_list %}
                    <div class="item">
                        <img src="{{ item['course_img'] }}" alt="{{ item['course_title'] }}">
                        <h3>{{ item['course_title'] }}</h3>
                        <p>Duration: {{ item['course_duration'] }}</p>    
                    </div> 
                {% endfor %}
            </div>
        </div>

        <!-- Personalized Course Recommendation Section -->
        <h2 style="padding-left: 5%;">Your Favourite Courses</h2>
        <div class="items-container">
            <div class="items-list">
                {% for item in personalized_course_recommendations_list %}
                    <div class="item">
                        <img src="{{ item['course_img'] }}" alt="{{ item['course_title'] }}">
                        <h3>{{ item['course_title'] }}</h3>
                        <p>Duration: {{ item['course_duration'] }}</p>    
                    </div> 
                {% endfor %}
            </div>
        </div>

        <!-- Python Courses Section -->
        <h2 style="padding-left: 5%;">Python Courses</h2>
        <div class="items-container">
            <div class="items-list">
                {% for item in python_courses_list %}
                    <div class="item">
                        <img src="{{ item['course_img'] }}" alt="{{ item['course_title'] }}">
                        <h3>{{ item['course_title'] }}</h3>
                        <p>Duration: {{ item['course_duration'] }}</p>    
                    </div> 
                {% endfor %}
            </div>
        </div>

        <!-- GIT Courses Section -->
        <h2 style="padding-left: 5%;">GIT Courses( will be called as trending )</h2>
        <div class="items-container">
            <div class="items-list">
                {% for item in git_courses_list %}
                    <div class="item">
                        <img src="{{ item['course_img'] }}" alt="{{ item['course_title'] }}">
                        <h3>{{ item['course_title'] }}</h3>
                        <p>Duration: {{ item['course_duration'] }}</p>    
                    </div> 
                {% endfor %}
            </div>
        </div>
        
        <!-- Apna College Courses Section -->
        <h2 style="padding-left: 5%; ">Apna College Courses( will be called as featured )</h2>
        <div class="items-container">
            <div class="items-list">
                {% for item in apna_college_courses_list %}
                    <div class="item">
                        <img src="{{ item['course_img'] }}" alt="{{ item['course_title'] }}">
                        <h3>{{ item['course_title'] }}</h3>
                        <p>Duration: {{ item['course_duration'] }}</p>    
                    </div> 
                {% endfor %}
            </div>
        </div>
    </body>
</html>