<!DOCTYPE html>
<html>
    <head>
        <title>Jobs Search Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='jobstyles.css') }}">
        <script>
            function navigateTohomepage() {
                // Redirect to homepage route
                window.location.href = "/";
            }

            function navigateTocoursesearchpage() {
                // Redirect to coursesearchpage route
                window.location.href = "{{ url_for('coursesearchpage') }}";
            }

            function navigateTobooksearchpage() {
                // Redirect to coursesearchpage route
                window.location.href = "{{ url_for('booksearchpage') }}";
            }

            function navigateTojobsearchpage() {
                // Redirect to coursesearchpage route
                window.location.href = "{{ url_for('jobsearchpage') }}";
            }
        </script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbarsub1">
                <h1 style="margin-top: 2%;">GuideSphere</h1>
            </div>
            <div class="navbarsub2">
                <a href="#" class="home-button" onclick="navigateTohomepage()">Home</a>
                <div class="switch-buttons">
                    <a href="#" onclick="navigateTocoursesearchpage()">Courses</a>
                    <a href="#" onclick="navigateTobooksearchpage()">Books</a>
                    <a href="#" class="active" onclick="navigateTojobsearchpage()">Jobs</a>
                </div>
                <form action="{{ url_for('searchresults') }}" method="GET" class="search-form">
                    <input name="keyword" placeholder="Search here" required>
                    <input type="hidden" name="pageid" value="3">
                    <button type="submit">Search</button>
                </form>
                <button class="get-started">My Profile</button>
            </div>
        </div>
        
        <!-- Developer Jobs Section -->
        <h2 style="padding-left: 5%;  margin-top: 7%">Developer Jobs</h2>
        <div class="job-postings-container">
            <div class="job-postings">
                {% for item in developer_jobs_list %}
                    <div class="job-posts">
                        <div class="job-info">
                            <h3>{{ item['job_title'] }}</h3>
                            <h6>{{ item['job_company'] }}</h6>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div> 

        <!-- Associate Jobs Section -->
        <h2 style="padding-left: 5%; ">Associate Jobs</h2>
        <div class="job-postings-container">
            <div class="job-postings">
                {% for item in associate_jobs_list %}
                    <div class="job-posts">
                        <div class="job-info">
                            <h3>{{ item['job_title'] }}</h3>
                            <h6>{{ item['job_company'] }}</h6>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div> 

        <!-- Business Jobs Section -->
        <h2 style="padding-left: 5%;  ">Business Jobs</h2>
        <div class="job-postings-container">
            <div class="job-postings">
                {% for item in business_jobs_list %}
                    <div class="job-posts">
                        <div class="job-info">
                            <h3>{{ item['job_title'] }}</h3>
                            <h6>{{ item['job_company'] }}</h6>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div> 

        <!-- Digital Marketing Jobs Section -->
        <h2 style="padding-left: 5%;  ">Digital Marketing Jobs</h2>
        <div class="job-postings-container">
            <div class="job-postings">
                {% for item in digital_marketing_jobs_list %}
                    <div class="job-posts">
                        <div class="job-info">
                            <h3>{{ item['job_title'] }}</h3>
                            <h6>{{ item['job_company'] }}</h6>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div> 

        <!-- Marketing Executive Jobs Section -->
        <h2 style="padding-left: 5%;  ">Marketing Executive Jobs</h2>
        <div class="job-postings-container">
            <div class="job-postings">
                {% for item in marketing_executive_jobs_list %}
                    <div class="job-posts">
                        <div class="job-info">
                            <h3>{{ item['job_title'] }}</h3>
                            <h6>{{ item['job_company'] }}</h6>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div> 

    </body>
</html>